In [1]:
basic=input('please enter basic salary')

please enter basic salary55

In [2]:
55

please enter basic salary55

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
basic=input('please enter basic salary')
gross=basic+(basic*.20)+(basic*.30)
print(gross)

In [ ]:
basic=input('please enter basic salary')
gross=(basic+(basic*.20)+(basic*.30))
print(gross)

In [ ]:
name=input('Enter your name : ')
e_id=int(intput('Enter your employee id : '))
basic=int('Enter your basic salary : ')
print('Thanks for providing your valuable information ! ')
hra=0.2*basic
dra=0.3*basic
gross=basic+hra+dra
print('Your information is processed')
print('The gross salary of' ,name, 'with employee id', e_id ,'is',gross)

In [5]:
name=input('Enter your name : ')
e_id=int(input('Enter your employee id : '))
basic=int(input('Enter your basic salary : '))
print('Thanks for providing your valuable information ! ')
hra=0.2*basic
dra=0.3*basic
gross=basic+hra+dra
print('Your information is processed')
print('The gross salary of' ,name, 'with employee id', e_id ,'is',gross)

Enter your name : ji
Enter your employee id : 123456
Enter your basic salary : 50000
Thanks for providing your valuable information !
Your information is processed
The gross salary of ji with employee id 123456 is 75000.0

In [9]:
num1=input('Enter first number')
num2=input('Enter second number')
#add=num1+num2
sub=(num1 - num2)
mul=num1*num2
div=num1/num2
print('Addition is',add)
print('Subtraction is ',sub)

Enter first number12
Enter second number3

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [11]:
num1=input('Enter first number')
num2=input('Enter second number')
add=num1+num2
#sub=(num1 - num2)
mul=num1*num2
div=num1/num2
print('Addition is',add)
print('Subtraction is ',sub)

Enter first number12
Enter second number3

TypeError: can't multiply sequence by non-int of type 'str'

In [11]:
n=int(input('Enter no of iteration'))
count=0
sum=0
while count<n :
    num=int(input('Enter a value'))
    if num==0:
        break
    else:
        sum+=num
        count+=1
    
average=sum/count
print(average)

Enter no of iteration7
Enter a value8
Enter a value8
Enter a value8
Enter a value8
Enter a value8
Enter a value8
Enter a value8
8.0

In [13]:
#control statement -->controls the flow of the loop
#break,continue,pass

for i in range(1,51):
     if i==25:
        break
     print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [18]:
for i in range (1,51):
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [3]:
# 1-while loop -->
#usecase-->when no of iteration are not known
#initilization is mandatory
#increment is required
i=1
while i<10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [1]:
# 2-for loop
#usecase--> when no of itereation are known
#initilization is not manadatory
#increment is not required

[]

In [3]:
limit=int(input('Enter your credit limit : '))
expend=[]
sum=0
while sum<limit:
    amount=int(input('Enter the amount'))
    if amount<=0:
        break
    else:
        sum+=amount
        expend.append(amount)
print('Total amount is',sum)
print('Total purchase made is ',expend)
print('The amount left is ',(limit-sum))

Enter your credit limit : 5000
Enter the amount4500
Enter the amount1000
Total amount is 5500
Total purchase made is  [4500, 1000]
The amount left is  -500